@font-face {
    font-family: 'Bohemian Soul';
    src: url('fonts/BohemianSoul.otf') format('opentype');
}

@font-face {
    font-family: 'Relationship de Melodrame';
    src: url('fonts/RelationshipMélodrame.ttf') format('truetype');
}