/*******
 Theme Switch Styles 
 *******/
 
.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--nav-link-bg);
    transition: 0.4s;
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.theme-slider:before {
    position: absolute;
    content: "🌙";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

input:checked+.theme-slider {
    background: var(--nav-link-hover);
}

input:checked+.theme-slider:before {
    transform: translateX(30px);
    content: "🌚";
}

.theme-slider:hover {
    background: var(--nav-link-hover);
}

