@font-face {
    font-family: 'Bohemian Soul';
    src: url('fonts/BohemianSoul.otf') format('opentype');
}

@font-face {
    font-family: 'Relationship de Melodrame';
    src: url('fonts/RelationshipMélodrame.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

:root {
    --primary-bg: #1a1a1a;
    --navbar-bg: rgba(26, 26, 26, 0.1);
    --text-color: #ffffff;
    --nav-link-bg: rgba(255, 255, 255, 0.2);
    --nav-link-hover: rgba(255, 255, 255, 0.3);
    --column-default-bg: #000000;
    --nav-links-bg: #000000;

}

[data-theme="light"] {
    --primary-bg: #ffffff;
    --navbar-bg: rgba(255, 255, 255, 0.1);
    --text-color: #333333;
    --nav-link-bg: rgba(0, 0, 0, 0.1);
    --nav-link-hover: rgba(0, 0, 0, 0.2);
    --column-default-bg: #ffffff;
    --nav-links-bg: #FCFCFC;

}


/* body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
} */

.main-container {
    position: relative;
    height: 100vh;
    width: 100%;
}


.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    /* background: var(--navbar-bg); */
    /* backdrop-filter: blur(10px); */
    z-index: 1000;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.nav-brand {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-brand span {
    color: #FCFCFC;
    font-family: 'Relationship de Melodrame', sans-serif;
    font-size: clamp(0.8rem, 1vw, 15px);
}

.hamburger-menu {
    display: none;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: var(--nav-links-bg);
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 2rem;
    font-size: clamp(1rem, 1vw, 20px);
    font-family: 'Relationship de Melodrame', sans-serif;
    /* background: var(--nav-link-bg); */
    /* border-radius: 25px; */
    transition: all 0.3s ease;
    /* backdrop-filter: blur(5px); */
}

.nav-link-active {
    text-decoration: underline;
}

/*******
 Theme Switch Styles 
 *******/
.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--nav-link-bg);
    transition: 0.4s;
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.theme-slider:before {
    position: absolute;
    content: "🌙";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

input:checked+.theme-slider {
    background: var(--nav-link-hover);
}

input:checked+.theme-slider:before {
    transform: translateX(30px);
    content: "🌚";
}

.theme-slider:hover {
    background: var(--nav-link-hover);
}

/*******
SECTION STYLES
*******/

div.section-container {
    background-color: var(--primary-bg);
    z-index: -1;
}

section.section {
    height: 100vh;
    width: 100%;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: var(--text-color);
    margin-bottom: 20px;
    overflow: hidden;
}


section.section1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 100px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.section1 div.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FCFCFC;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 50%; */
}


.star-image::before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0 12px;
    background-image: url("images/Vectorr.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.story {
    position: relative;
}


.story::before {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 0 12px;
    background-image: url("images/Group1352.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: sub;
}

.story::after {
    content: "";
    position: absolute;
    border: 1px solid #FCFCFC;
    border-radius: 50%;
    width: 65%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}




.section1 .left-content .content-item-header {
    font-size: clamp(2rem, 4vw, 70px);
    font-family: 'Bohemian Soul';
    font-weight: 400;
}

.section1 .right-content {
    font-family: 'Relationship de Melodrame', sans-serif;
    width: 50%;
    justify-self: center;

}

.section1 .bottom-content {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Relationship de Melodrame', sans-serif;
    font-size: clamp(1rem, 2vw, 18px);
    text-align: center;
    width: 100%;
    color: #FCFCFC;
}


/* .left-content, .right-content {
    display: inline-block;
} */


.left-content,
.right-content {
    flex: 1;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/********
SECTION 2 STYLES
********/

.other-section {
    /* height: 100vh; */
    width: 100%;
    padding: 0px 40px;
}


.other-section .content-image {
    width: 100%;
    height: 100%;
    /* padding: 1rem; */
}

.other-section .content-image img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.other-section .content-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.other-section .content-text .left-content {
    font-family: 'Relationship de Melodrame', sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.other-section .content-text .left-content h2 {
    font-family: 'Bohemian Soul', sans-serif;
    font-size: clamp(1rem, 2vw, 40px);
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.other-section .content-text .right-content .content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.other-section .content-text .right-content .btn {
    padding: 0.8rem;
    border-radius: 25px;
    /* background-color: var(--nav-link-bg);
    color: var(--text-color); */
    font-family: 'Relationship de Melodrame', sans-serif;
    font-size: clamp(1rem, 1vw, 20px);
    display: flex;
    align-items: center;
    gap: 4px;
}

.other-section .content-text .right-content .btn1 {
    background-color: var(--text-color);
    color: var(--primary-bg);

}

.other-section .content-text .right-content .btn1::after {
    content: url(images/menu_dark.svg);
    display: flex;
    align-items: end;
}

[data-theme="light"] .other-section .content-text .right-content .btn1::after {
    content: url(images/menu_light.svg);
}


.section .content-image img {
    height: 50vh;
    margin-bottom: 2rem;
}

.three-column-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: relative;
}

.three-column-container .column {
    padding: 1rem;
    /* flex: 1; */
}

.column .column-content h2 {
    font-family: 'Bohemian Soul', sans-serif;
    font-size: clamp(16px, 1.2rem, 30px);
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;
}

.column .column-content p {
    font-family: 'Relationship de Melodrame', sans-serif;
    font-size: clamp(14px, 1rem, 20px);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;
}


/* Back to Top Button Styles */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    color: var(--text-color);
    border: var(--text-color) 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 1000;
}

.back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover {
    transform: translateY(-5px);
}

.back-to-top span {
    font-size: 12px;
    line-height: 1;
}



/* Responsive Design */
@media (max-width: 950px) {
    .other-section .content-text .left-content {
        width: 100%;
    }

    div.section-container {
        padding-block-end: 50px;
    }

    .navbar {
        position: fixed;
        background: var(--navbar-bg);
        backdrop-filter: blur(35px);
        -webkit-backdrop-filter: blur(35px);
        padding: 20px 1.5rem;

    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100vh;
        background-color: var(--primary-bg);
        padding: 80px 20px;
        transition: right 0.3s ease;
        /* align-items: center; */
        gap: 30px;
        border-left: 1px solid var(--text-color-secondary);
        border-radius: 0%;
    }

    .nav-link {
        font-size: clamp(1.2rem, 2vw, 25px);
        font-family: 'Bohemian Soul', sans-serif;
        text-transform: uppercase;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        z-index: 1001;
        order: 3;

    }

    .hamburger-icon {
        width: 30px;
        height: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger-icon span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--text-color);
        transition: all 0.3s ease;
    }

    .hamburger-icon.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-icon.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-toggle {
        order: 2;
    }

    .nav-links.active {
        right: 0;
    }

    .section1 div.content-container {
        min-width: 100%;
    }


    .story::before {
        content: "";
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin: 0 12px;
        background-image: url("images/Group1352.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: sub;
    }

    /* .story::after {
    border: 0px solid #FCFCFC;
} */

    .star-image::before {
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin: 0 12px;
        background-image: url("images/Vectorr.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: middle;
    }

    section.other-section {
        height: auto;
        padding-block: 50px;
    }

    section.other-sectionExceptLast::after {
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        background: #ccc;
        margin: 50px auto 0px auto;
    }


    .three-column-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .other-section .content-text .left-content h2 {
        display: none;
        }

    .section .content-image img {
        height: auto;
        margin-bottom: 1rem;
    }

}

@media (max-width: 627px) {
    .other-section {

        padding: 0px 10px;
    }

    .back-to-top {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
    }
}